<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cuc.waimai.mapper.FoodShopMapper" >
  <resultMap id="BaseResultMap" type="cuc.waimai.Dao.FoodShop" >
    <id column="food_shop_id" property="foodShopId" jdbcType="INTEGER" />
    <result column="food_id" property="foodId" jdbcType="INTEGER" />
    <result column="shop_id" property="shopId" jdbcType="INTEGER" />
    <result column="food_num" property="foodNum" jdbcType="INTEGER" />
    <result column="food_price" property="foodPrice" jdbcType="DOUBLE" />
    <result column="food_sales" property="foodSales" jdbcType="INTEGER" />
    <result column="food_ev" property="foodEv" jdbcType="VARCHAR" />
    <result column="food_pic" property="foodPic" jdbcType="VARCHAR" />
    <result column="food_des" property="foodDes" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from food_shop
    where food_shop_id = #{foodShopId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cuc.waimai.Dao.FoodShop" >
    insert into food_shop (food_shop_id, food_id, shop_id, 
      food_num, food_price, food_sales, 
      food_ev, food_pic, food_des
      )
    values (#{foodShopId,jdbcType=INTEGER}, #{foodId,jdbcType=INTEGER}, #{shopId,jdbcType=INTEGER}, 
      #{foodNum,jdbcType=INTEGER}, #{foodPrice,jdbcType=DOUBLE}, #{foodSales,jdbcType=INTEGER}, 
      #{foodEv,jdbcType=VARCHAR}, #{foodPic,jdbcType=VARCHAR}, #{foodDes,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cuc.waimai.Dao.FoodShop" >
    update food_shop
    set food_id = #{foodId,jdbcType=INTEGER},
      shop_id = #{shopId,jdbcType=INTEGER},
      food_num = #{foodNum,jdbcType=INTEGER},
      food_price = #{foodPrice,jdbcType=DOUBLE},
      food_sales = #{foodSales,jdbcType=INTEGER},
      food_ev = #{foodEv,jdbcType=VARCHAR},
      food_pic = #{foodPic,jdbcType=VARCHAR},
      food_des = #{foodDes,jdbcType=VARCHAR}
    where food_shop_id = #{foodShopId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select food_shop_id, food_id, shop_id, food_num, food_price, food_sales, food_ev, 
    food_pic, food_des
    from food_shop
    where food_shop_id = #{foodShopId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select food_shop_id, food_id, shop_id, food_num, food_price, food_sales, food_ev, 
    food_pic, food_des
    from food_shop
  </select>
</mapper>