<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cuc.waimai.mapper.OrderFoodMapper" >
  <resultMap id="BaseResultMap" type="cuc.waimai.Dao.OrderFood" >
    <id column="order_food_id" property="orderFoodId" jdbcType="INTEGER" />
    <result column="food_id" property="foodId" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="food_count" property="foodCount" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from order_food
    where order_food_id = #{orderFoodId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cuc.waimai.Dao.OrderFood" >
    insert into order_food (order_food_id, food_id, order_id, 
      food_count)
    values (#{orderFoodId,jdbcType=INTEGER}, #{foodId,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, 
      #{foodCount,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cuc.waimai.Dao.OrderFood" >
    update order_food
    set food_id = #{foodId,jdbcType=INTEGER},
      order_id = #{orderId,jdbcType=INTEGER},
      food_count = #{foodCount,jdbcType=INTEGER}
    where order_food_id = #{orderFoodId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select order_food_id, food_id, order_id, food_count
    from order_food
    where order_food_id = #{orderFoodId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select order_food_id, food_id, order_id, food_count
    from order_food
  </select>

  <select id="selectByOrderId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select order_food_id, food_id, order_id, food_count
    from order_food
    where order_id = #{orderId,jdbcType=INTEGER}
  </select>

</mapper>