<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cuc.waimai.mapper.ShopEvaluateMapper" >
  <resultMap id="BaseResultMap" type="cuc.waimai.entity.ShopEvaluate" >
    <id column="ev_id" property="evId" jdbcType="INTEGER" />
    <result column="shop_id" property="shopId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="ev_all" property="evAll" jdbcType="DOUBLE" />
    <result column="ev_comment" property="evComment" jdbcType="VARCHAR" />
    <result column="ev_pic" property="evPic" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from shop_evaluate
    where ev_id = #{evId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cuc.waimai.entity.ShopEvaluate" >
    insert into shop_evaluate (ev_id, shop_id, user_id, 
      ev_all, ev_comment, ev_pic
      )
    values (#{evId,jdbcType=INTEGER}, #{shopId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{evAll,jdbcType=DOUBLE}, #{evComment,jdbcType=VARCHAR}, #{evPic,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cuc.waimai.entity.ShopEvaluate" >
    update shop_evaluate
    set shop_id = #{shopId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      ev_all = #{evAll,jdbcType=DOUBLE},
      ev_comment = #{evComment,jdbcType=VARCHAR},
      ev_pic = #{evPic,jdbcType=VARCHAR}
    where ev_id = #{evId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select ev_id, shop_id, user_id, ev_all, ev_comment, ev_pic
    from shop_evaluate
    where ev_id = #{evId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select ev_id, shop_id, user_id, ev_all, ev_comment, ev_pic
    from shop_evaluate
  </select>

  <select id="selectByShopId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select ev_id, shop_id, user_id, ev_all, ev_comment, ev_pic
    from shop_evaluate
    where shop_id = #{shopId,jdbcType=INTEGER}
  </select>

  <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select ev_id, shop_id, user_id, ev_all, ev_comment, ev_pic
    from shop_evaluate
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
</mapper>